

<br>
hello from the show file



<p>id: <%= @recipe.id %></p>
<p>title: <%= @recipe.title %></p>
<p>chef: <%= @recipe.chef %></p>
<p>prep_time: <%= @recipe.prep_time %></p>
<p>directions: <%= @recipe.directions %></p>
<p>created_at: <%= @recipe.created_at %></p>
